.header__logo {
  width: 142px;
  height: 33px;
  background: url('../../../images/svg/logo.svg') no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.header__logo:hover {
  opacity: .5;
}
@media screen and (max-width: 939px) {
  .header__logo {
    width: calc(100vw / 3);
    max-width: 142px;
    margin-left: 6px;
  }
}
