.popup__close-button {
  width: 32px;
  height: 32px;
  background: url('../../../images/svg/close-popup-icon.svg');
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: 0;
}
@media screen and (max-width: 599px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
.popup__close-button:hover {
  opacity: .6;
}
