.place__like {
  display: block;
  width: 22px;
  height: 19px;
  background: url(../../../images/svg/like-inactive.svg);
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 0;
}
.place__like:hover {
  opacity: .5;
}
